# https://github.com/YosysHQ/icestorm/blob/master/examples/icebreaker/icebreaker.pcf

# 12 MHz clock
set_io -nowarn CLK        35

# LEDs and Button
set_io -nowarn BTN_N      10

#rx_i pin connected to my tx pin
set_io rx_i 6

#tx_o pin connected to my rx pin
set_io tx_o 9

set_io -nowarn led_o[0]       27
set_io -nowarn led_o[1]       25
set_io -nowarn led_o[2]       21
set_io -nowarn led_o[4]       26
set_io -nowarn led_o[3]       23
